
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
terraform.rc
.terraformrc


*.tfvars
*.tfvars.json


override.tf
override.tf.json
*_override.tf
*_override.tf.json


__pycache__/
*.pyc
venv/
.venv/
*.env


helm/
*.tgz